body {margin:0;}


h1 {
    font-size: 6em;
    background-color: white;
    margin: 30px;
    padding: 30px;
}

div.user-input{
  top: 0px;
  font-size: 40px;
  padding-bottom: 30px;
  margin-top: 30px;;
}

.profilePic {
  margin-left: 60px;
  padding-right: 90px;
}



div.user-input2{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 40px;
  margin-left: 60px;
}

/* mine */
textarea {
  /*width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box; */
  border: 2px solid black;
  border-radius: 4px;
  background-color: lightgray;
  resize: none;
}


input[type=text] {
  width: 10%;
  padding: 10px 100px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: lightgray;
}

/*
input[type=long_text] {
  width: 100%;
  padding: 20px 400px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}
*/

p {
  margin-left: 60px;
}

div.button{

  padding: 10px 20px;


}

p {
  font-size: 40px;
}

button {
  font-size: 30px;
  border: 2px solid black;
  border-radius: 4px;
}

/* CONNECT ME BUTTON */
{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 150px;
  right: 28px;
  width: 560px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 560px;
}

/* Add styles to the form container */
.form-container {
  max-width: 560px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* END CONNECT ME BUTTON */


/* Navigation Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #424949; /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  bottom: 0;
  position: fixed;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (4 icons with 25% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: black; /* Add a hover color */
}

.active {
  background-color: #2874A6; /* Add an active/current color */
}