/* body {margin:0;} */

.mentors {
	max-width: 350px;
}


/* in case JSON file doesn't work */
.mentor-container {
	width: 350px;
}

.mentor-container img {
	max-height: 100%;
	max-width: 100%;

}

/* Navigation Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #424949; /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  bottom: 0;
  position: fixed;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (4 icons with 25% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: black; /* Add a hover color */
}

.active {
  background-color: #2874A6; /* Add an active/current color */
}
